/* Estilo para el botón btn-danger */
.btn-danger {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
    -fx-alignment: center;
}

.btn-danger:hover {
    -fx-background-color: #c82333; /* Color de fondo al pasar el mouse */
}

.btn-primary {
    -fx-alignment: center; /* Alineación del texto */
    -fx-background-color: #007bff; /* Color de fondo */
    -fx-border-color: #007bff; /* Borde */
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 16px; /* Tamaño de fuente */
    -fx-border-radius: 4px; /* Radio del borde */
    -fx-cursor: hand; /* Cambia el cursor al pasar sobre el botón */
    -fx-background-radius: 4px; /* Radio de la esquina del fondo */
}

.btn-primary:hover {
    -fx-background-color: #0056b3; /* Color de fondo al pasar el ratón */
    -fx-border-color: #0056b3; /* Color del borde al pasar el ratón */
}

.btn-green {
    -fx-alignment: center; /* Alineación del texto */
    -fx-background-color: #007bff; /* Color de fondo */
    -fx-border-color: #007bff; /* Borde */
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 16px; /* Tamaño de fuente */
    -fx-border-radius: 4px; /* Radio del borde */
    -fx-cursor: hand; /* Cambia el cursor al pasar sobre el botón */
    -fx-background-radius: 4px; /* Radio de la esquina del fondo */
}

.btn-green:hover {
    -fx-background-color: #0056b3; /* Color de fondo al pasar el ratón */
    -fx-border-color: #0056b3; /* Color del borde al pasar el ratón */
}


