/*
    En este CSS se encarga de globalizar por los diferentes FXML los estilos
    simulados de boostrap. Para hacerlo m치s modular, aunque al final, no lo he
    utilizado tanto.
*/


/* Bot칩n de peligro */
.btn-danger {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
    -fx-alignment: center;
}

.btn-danger:hover {
    -fx-background-color: #c82333;
}

/* Bot칩n principal */
.btn-primary {
    -fx-alignment: center;
    -fx-background-color: #007bff;
    -fx-border-color: #007bff;
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
    -fx-background-radius: 4px;
}

.btn-primary:hover {
    -fx-background-color: #0056b3;
    -fx-border-color: #0056b3;
}

/* Bot칩n verde */
.btn-green {
    -fx-alignment: center;
    -fx-background-color: #007bff;
    -fx-border-color: #007bff;
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
    -fx-background-radius: 4px;
}

.btn-green:hover {
    -fx-background-color: #0056b3;
    -fx-border-color: #0056b3;
}
