/*
    En el cita.css he globalizado los estilos de las tabla, esceptuando dos que van individuales,
    También se ha dado estilo algun boton en concreto etc..
*/

/* Vista de tabla */
.table-view {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 4);
}

.table-cell, .table-row-cell .table-cell {
    -fx-text-fill: #333333;
    -fx-alignment: center;
    -fx-padding: 8px;
    -fx-font-size: 1.15em;
}

.table-row-cell {
    -fx-spacing: 50px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1px 0;
}

.table-row-cell:odd {
    -fx-background-color: #f7f9fc;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: #e9f5ff;
    -fx-text-fill: #212529;
}

.table-header-background, .table-header {
    -fx-background-color: #4a90e2;
    -fx-border-radius: 5px 5px 0 0;
    -fx-background-radius: 5px 5px 0 0;
    -fx-text-fill: #ffffff;
}

.table-header {
    -fx-border-color: #d1d1d1;
    -fx-border-width: 0 0 1px 0;
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
    -fx-font-size: 1.2em;
}

.jfx-combo-box {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -jfx-focus-color: #3f51b5;
    -jfx-unfocus-color: #dcdcdc;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.jfx-combo-box .text,
.jfx-combo-box .prompt-text {
    -fx-alignment: center-left;
    -fx-padding: 0 10px;
}

/* Estilos para eliminar y cerrar cita */
#eliminarCita, #cerrarCita {
    -fx-background-color: transparent;
}

#eliminarCita .iconoDelete, #cerrarCita .icono {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0, 0, 0, 1);
    -fx-opacity: 0.5;
}

#eliminarCita:hover .iconoDelete, #cerrarCita:hover .icono {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1;
}

/* Estilo para iconos */
.iconoDatos, .header {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-border-color: black;
    -fx-border-width: 1px;
}

/* Botón de éxito */
.btn-generar {
    -fx-display: inline-block;
    -fx-font-weight: 400;
    -fx-text-fill: #fff;
    -fx-background-color: #28a745;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-padding: 3px 6px;
    -fx-font-size: 14px;
    -fx-line-spacing: 1.5;
    -fx-border-radius: 3px;
    -fx-transition: -fx-text-fill 0.15s ease-in-out, -fx-background-color 0.15s ease-in-out, -fx-border-color 0.15s ease-in-out, -fx-effect 0.15s ease-in-out;
}

.btn-generar:hover {
    -fx-background-color: #218838;
    -fx-border-color: #1e7e34;
}

.btn-generar:focused,
.btn-generar.focus {
    -fx-background-color: #218838;
    -fx-border-color: #1e7e34;
    -fx-effect: innershadow(gaussian, rgba(40, 167, 69, 0.5), 10, 0.5, 0, 0);
}

.btn-generar:pressed,
.btn-generar.pressed {
    -fx-background-color: #1e7e34;
    -fx-border-color: #1c7430;
}
