/* Botón de entrada */
.buttonEntrap {
    -fx-background-color: rgb(151, 212, 154);
    -fx-outline: none;
    -fx-border-color: rgb(151, 212, 154);
    -fx-border-radius: 20px;
    -fx-padding: 10px 20px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease;
    -fx-font-size: 16px;
}

.buttonEntrap:hover {
    -fx-background-color: rgb(218, 238, 255);
    -fx-border-color: rgb(218, 238, 255);
    -fx-border-width: 2px;
    -fx-text-fill: rgb(62, 74, 134);
    -fx-font-size: 16px;
}

/* Pane bordeado */
.borderedPane {
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color: rgba(151, 212, 154, 0.8);
    -fx-padding: 10px;
}

/* Etiqueta de mensaje */
#msgLabel {
    -fx-background-color: rgba(220, 53, 69, 0.6);
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-transition: background-color 0.3s ease;
}

#msgLabel:hover {
    -fx-background-color: rgba(220, 53, 69, 0.9);
}

/* Botón oculto */
.hidden-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.hidden-button:hover .eye-icon {
    -fx-effect: dropshadow(three-pass-box, #00b539, 1, 0, 0, 0);
    -fx-effect-radius: 0.5;
    -fx-opacity: 0.3;
}
