.white-background {
    -fx-background-color: #fff;
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout {
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}

.root {
    -fx-default-background: white;
}

.button {
    -fx-background-color: #4CAF50; /* Color de fondo */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 16px; /* Tama침o de fuente */
}
.button:hover {
    -fx-background-color: #45a049; /* Color de fondo al pasar el mouse */
}

.table-view {
    -fx-background-color: #f2f2f2; /* Color de fondo */
    -fx-font-size: 14px; /* Tama침o de fuente */
}

.table-cell {
    -fx-text-fill: #333333; /* Color del texto */
    -fx-alignment: center; /* Alineaci칩n del contenido */
}

#closeButton {
    -fx-background-color: transparent;
}

#closeButton .icono {
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-opacity: 0.5;
}

#closeButton:hover .icono {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1;
}

.buttonEntrap {
    -fx-background-color: rgb(151, 212, 154);
    -fx-outline: none;
    -fx-border-color: rgb(151, 212, 154);
    -fx-border-radius: 20px;
    -fx-padding: 10px 20px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease;
}

.buttonEntrap:hover {
    -fx-background-color: rgb(218, 238, 255);
    -fx-border-color: rgb(218, 238, 255);
    -fx-border-width: 2px;
}

.buttonPendiente {
    -fx-background-color: #4CAF50; /* Color de fondo */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 16px; /* Tama침o de fuente */
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-font-size: 20px bold;
}

.toggle-button:selected {
    -fx-background-color: #017eff;
    -fx-text-fill: #ffffff;
}

.toggle-button:hover {
    -fx-background-color: #b4f0d0;
    -fx-text-fill: #024f14;
}

.toggle-button .text {
    -fx-padding: 0 0 0 40px;
}

#anchorpane {
    -fx-border-color: #b3ffb3;
    -fx-border-width: 2px;
}



