.white-background {
    -fx-background-color: #fff;
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout {
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}

.button.selected {
    -fx-background-color: #F3F3F3;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #F3F3F3;
}

.root {
    -fx-default-background: white;
}

.button:armed {
    -fx-background-color: #a4ffd9;
}

.button .graphic {
    -fx-content-display: graphic-only;
}

.button:pressed {
    -fx-text-fill:  #0000ff;
}
.buttonEntrap {
    -fx-background-color: rgb(151, 212, 154);
    -fx-outline: none;
    -fx-border-color: rgb(151, 212, 154);
    -fx-border-radius: 20px;
    -fx-padding: 10px 20px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease;
}

.buttonEntrap:hover {
    -fx-background-color: rgb(218, 238, 255);
    -fx-border-color: rgb(218, 238, 255);
    -fx-border-width: 2px;
}
