.white-background {
    -fx-background-color: #fff;
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout {
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}

.selected {
    -fx-background-color: #F3F3F3;
}

.mouse-moved: hover {
    -fx-background-color: #E4E4E4;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.button:hover {
    -fx-background-color: #F3F3F3;
}

.root {
    -fx-default-background: white;
}

.button:selected {
    -fx-background-color: #93bf85;
}

.button:armed {
    -fx-background-color: -fx-default-background, -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 0 0, 0, 1, 2, 3;
}

.button .graphic {
    -fx-content-display: graphic-only;
}

.button:pressed {
    -fx-text-fill:  #229954;
}
